<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/login michael.css" />
    <link rel="stylesheet" href="css/shopping-cart-Matteo.css">
    <title>BitePlanr | Cart</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <div class="container-header">
      <div class="nav">
        <a href="/"><img src="../img/logo_white.png" class="logo" /> </a>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/shopping-cartEJS" class="fas fa-cart-shopping"></a></li>
          <li><a href="#" class="fas fa-user"></a></li>
        </ul>
      </div>
    </div>
  </head>
  <body>
      <div class="shopping-cart">
        <% let total = 0 %>
        <% for (let i = 0; i < items.length; i++) { %>
          <div class="cart-item">
            <div class="item-image">
              <img src="<%= items[i].image_url %>" alt="">
            </div>
            <div class="item-details">
              <h3><%= items[i].item %></h3>
              <p>Price: <%= items[i].price %> Fr</p>
            </div>
          </div>
          <% total += items[i].price %>
        <% } %>
        <div id="sum">
          <h2>Total Price: <%= total %></h2>
          <h4>Send <%= total %> Fr to "Organisation.Twint.Id.Items" to claim.</h4>
        </div>
      </div>
      </body>
</html>
